/* font-family: 'Roboto', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Passion One', cursive; */

/* font-family: 'IBM Plex Sans', sans-serif; */

* {
  font-family: 'IBM Plex Sans', sans-serif;
}
